<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>625441822214-c127qaa1df1omtk0g8dg50fbh2du9n2p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.625441822214-c127qaa1df1omtk0g8dg50fbh2du9n2p</string>
	<key>API_KEY</key>
	<string>AIzaSyAYYwqqwnFDlhBwjVCWmhyCJVW4bUZDFgk</string>
	<key>GCM_SENDER_ID</key>
	<string>625441822214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseFlutterPra</string>
	<key>PROJECT_ID</key>
	<string>fireebasepraticeshh</string>
	<key>STORAGE_BUCKET</key>
	<string>fireebasepraticeshh.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:625441822214:ios:9bcf61e7bb0c80c7d3d587</string>
</dict>
</plist>